<div class="results-header" ng-class="{'in-progress': !dash.manager.allComplete, finished: dash.manager.allComplete}">
  <div class="search-text">
    <h3 ng-show="!dash.manager.allComplete">Finding Matches<span class="ellipsis num1">.</span><span class="ellipsis num2">.</span><span class="ellipsis num3">.</span><span class="ellipsis num4">.</span></h3> 
    <h3 ng-show="dash.manager.allComplete">Found {{dash.manager.photos.length}} Matching Photos.</h3>
  </div>
  <h5 ng-click="dash.restart()">Restart search</h5>
</div>
<ul>
  <li class="result" ng-class="{'active-result': dash.manager.activeResult === p.photo.id}"
  ng-repeat="p in dash.manager.photos track by $index"
  ng-mouseenter="dash.manager.activeResult = p.photo.id"
  ng-mouseleave="dash.manager.activeResult = null">
    <div class="result-thumb-wrapper">
      <div class="result-thumb-dummy"></div>
      <div class="result-thumb" 
      ng-style="{'background-image': 'url('+p.photo.px_image+')'}" 
      ng-mouseenter="dash.manager.activeResult = p.photo.id">
        <a class="px-link" ng-href="https://www.500px.com{{p.photo.px_link}}" target="_blank">
          <%= image_tag 'spacer.png' %>
        </a>
        
        <div class="palette" ng-mouseleave="p.active = null">
          <div class="palette-colour-label" ng-class="{white: p.active.lab.l <= 69, black: p.active.lab.l > 69}"
          ng-show="p.active" ng-style="{'background-color': '#'+p.active.hex}">
            <h4>{{p.active.label}}</h4>
            <h6>#{{p.active.hex}}</h6>
          </div>
          <ul>
            <li class="palette-colour children-fill-width" ng-repeat="item in p.palette" 
              ng-style="{'background-color': '#'+item.hex}"
              ng-mouseenter="p.active = item"
              
            ></li>
          </ul>
        </div>        
      </div>
    </div>

    
    <div class="result-info" ng-show="dash.manager.activeResult === p.photo.id" >
      <h4>{{p.photo.px_name}}</h4>
      <h6>
        By <a ng-href="https://www.500px.com/{{p.photo.px_user.username}}" target="_blank">{{p.photo.px_user.username}}</a>
      </h6>

      <div class="match-score" ng-click="dash.manager.comparison = p">
        <h5>Match Score</h5>
        <h2>{{p.score}}%</h2>
        <!-- <p>View Stats</p> -->
      </div>

 
      <p style="display: none;"> <!-- debugging purposes -->
        {{p.stats.hsb.h.mean | number:1}} // {{p.stats.hsb.s.mean | number:1}} // {{p.stats.hsb.b.mean | number:1}}
      </p>

      <div class="for-sale">
        <span ng-if="p.photo.px_for_sale" class="green"><i class="fa fa-check"></i> Yes, this photo is for sale!</span>
        <span ng-if="!p.photo.px_for_sale" class="red"><i class="fa fa-times"></i> Not for sale.</span>
      </div>

      <div class="attribution">
        © 
        <span ng-if="p.photo.px_user.firstname &amp;&amp; p.photo.px_user.lastname ">
          {{(p.photo.px_user.firstname + " " + p.photo.px_user.lastname) | capitalize | limitTo:15}} /
        </span> 
        500px
      </div>
    </div>
  </li>
</ul>