<div class="photos-wrapper" ng-controller="PhotosController as photos" data-auth-token="<%= form_authenticity_token %>">
  <header>
    <div class="header-text">
      <h1>ColourMatch</h1>
      <p>Find beautiful photos from 500px, using colour.</p>
    </div>
  </header>

  <div class="content-wrapper" ng-class="{widemode: photos.state !== 'idle'}">
    <div class="grid padded-grid">
      <div ng-class="{c6: photos.state === 'idle', c3: photos.state !== 'idle'}">
        <section class="photo-upload card">
          <h3>Upload a Photo</h3>

          <div class="upload_drag_box" 
            ng-file-drop ng-model="photos.photo" 
            ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
            accept="image/*"
            ng-rejected-file-model="rejected"
            allowDir="true"
            dropAvailable="dropSupported"
          >
            <i class="fa fa-cloud-upload"></i>
            <p>Drag Photo Here</p>
          </div>
          <div ng-no-file-drop>File Drag/drop is not supported</div> 

          {{photos.state}}

        </section>
      </div>
      


      <div ng-class="{c6: photos.state === 'idle', c9: photos.state !== 'idle'}">
        <section class="colour-select card">
          <h3>Choose a Colour</h3>
          <p>blablabal</p>
        </section> 
      </div>

    </div>  
    <div class="or">OR</div>
    
  </div>

</div>
