<p style="font-size: 2rem; color: #FFF;">
  <span class="light">Light text</span>
  <span class="book">Light text</span>
  <span class="bold">Light text</span>
  <span class="black">Light text</span>
</p>

<div class="upload-image-div">
  <%= form_tag photos_path, multipart: true do |f| %>
    <%= file_field_tag "photo" %>
    <%= submit_tag "Upload" %>
  <% end %>

</div>

<div class="select-color-div">
  
</div>