<div class="photos-wrapper" ng-controller="DashboardController as dash" data-auth-token="<%= form_authenticity_token %>">
  <header>
    <div class="header-text">
      <h1>ColourMatch</h1>
      <p>Find beautiful photos from 500px, using colour.</p>
      {{dash.manager.state}}
    </div>
  </header>

  <div class="content-wrapper" ng-class="{widemode: dash.manager.state !== 0}">
    <div class="grid padded-grid">
      <div id="left-col" ng-class="{c6: dash.manager.state <= 1, c3: dash.manager.state > 1 &amp;&amp; dash.manager.mode === 'photo', c9: dash.manager.state > 1 &amp;&amp; dash.manager.mode === 'colour'}">
        <section class="photo-upload card animated fadeInUp" ng-hide="dash.manager.state > 0 &amp;&amp; dash.manager.mode !== 'photo'">
          <h3>Upload a Photo</h3>

          <button class="photo_box" 
            ng-class="{'with-image': dash.manager.state !== 0, 'without-image': dash.manager.state === 0 }"
            ng-file-drop 
            ng-file-change="dash.requestImages(dash.manager.photo, dash.auth, 'photo')"
            ng-model="dash.manager.photo" 
            accept="image/*"
            ng-rejected-file-model="rejected"
            allowDir="true"
            dropAvailable="dropSupported"
            defer-click-to destination="#click-handler"
          >
            <div class="upload-text">
              <i class="fa fa-cloud-upload"></i>
              <h4>Click or Drag Photo</h4>
            </div>
          </button>

          <div class="palette" ng-show="dash.manager.palette">
            <ul>
              <li ng-repeat="colour in dash.manager.palette" ng-style="{'background-color': 'rgb('+colour.rgb.r+','+colour.rgb.g+','+colour.rgb.b+')'}"></li>
            </ul>
          </div>
          <div ng-no-file-drop>File Drag/drop is not supported</div>   
          <!-- 
            This invisible div holds our click-to-upload logic. 
            Clicking on our photo-box causes the event to be sent here. 
          -->
          <div id="click-handler"
            ng-file-select 
            ng-file-change="dash.manager.requestImages(dash.manager.photo, dash.auth, 'photo')"
            ng-model="dash.manager.photo" 
            accept="image/*"
            ng-rejected-file-model="rejected"
            allowDir="true"
             move-to side="right">
          </div>

        </section>
      </div>
      


      <div id="right-col" ng-class="{c6: dash.manager.state <= 1, c3: dash.manager.state > 1 &amp;&amp; dash.manager.mode === 'colour', c9: dash.manager.state > 1 &amp;&amp; dash.manager.mode === 'photo'}">
        <section class="colour-select card animated fadeInUp" ng-hide="dash.manager.state > 0 &amp;&amp; dash.manager.mode !== 'colour'">
          <h3>Choose a Colour</h3>
          <div class="minicolors minicolors-theme-default minicolors-position-top minicolors-position-left minicolors-inline">
            <div class="minicolors-panel minicolors-slider-hue">
              <div class="minicolors-slider minicolors-sprite">
                <div class="minicolors-picker" style="top: 0px;"></div>
              </div>
              <div class="minicolors-grid minicolors-sprite" style="background-color: rgb(255, 0, 0);">
                <div class="minicolors-grid-inner"></div>
                <div class="minicolors-picker" style="top: 160px; left: 0px;">
                  <div></div>
                </div>
              </div>
            </div>
            <div class="colour-details">
              <div class="colour-preview"></div>
              <input type="text" minicolor-picker="" ng-model="dash.manager.colour" class="ng-pristine ng-untouched ng-valid minicolors-input" size="7">
            </div>
          </div>
        </section> 
        
        <div class="submit-button-wrapper">
          <button ng-click="dash.manager.requestImages(dash.manager.colour, dash.auth, 'colour')" move-to side="right"><i class="fa fa-check"></i></button>
        </div>        

      </div>

    </div>  
    <div class="or animated rotateIn" ng-show="dash.manager.state === 0">OR</div>

  </div>

</div>
