<div class="privacy-wrapper">
  <%= render partial: 'layouts/header', locals: { subheader: 'Privacy Policy' } %>
  <div class="width-wrapper">
    <h6>Photo Uploads Are Public!</h6>
    <p>ColourMatch is a tool which lets you search 500px's photo library either with a single colour, or the colours extracted from a photo you choose to upload. <em>The photos you upload are not private</em>. You don't want to be the next Jennifer Lawrence. They may be displayed on the front page as a suggested search image for other users. For the sake of your own privacy, don't use any photos that you wouldn't feel comfortable putting on your Christmas card.</p>

    <p class="smaller">(Also, please be considerate to others! Don't use any photos which feature violence, nudity, narcotics, or Nickelback frontman Chad Kroeger's face. He scares me.)</p>

    <h6>Big Brother Is Watching You</h6>
    <p>Like most sites on the internet, ColourMatch uses Google Analytics for tracking metrics. Google's javascript places two small, bite-sized cookies on your computer. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">You can read more about them here</a>. Additionally, ColourMatch stores a small identifying cookie to keep track of your session.</p>

    <h6>Help! I fucked up!</h6>
    <p>This is the internet. There is no undo button once you release something into the <a href="http://www.dailymotion.com/video/x7ujg_ted-stevens-and-those-internet-tube_news">series of tubes</a>! However, I'm happy to do what I can to mitigate any potential disasters. Contact me via <a href="https://twitter.com/JoshuaWComeau">twitter</a> or <a href="mailto:joshwcomeau@gmail.com">email</a> and I'll happily delete any photos or data you'd like me to. </p>
  </div>
</div>

<%= render partial: 'layouts/footer' %>