// Primary site colours
$red:           #DC3522;
$blue:          #1D8DA3;
$darkblue:      #364652;
$beige:         #D9C09E;
$lightgrey:     #f1f0eb;
$greenishgrey:  #374140;
$darkgrey:      #1E1E20;




// Backups
// $darkgrey:    #1A1A1A;
// $lightgrey:   #f1f0eb;
// $darkblue:    #364652;
// $orange:      #BF4E30;
// $turqoise:    #086375;


// Accents
$lightborder: #CAC8BB;
$green:       #728B0D;