// Primary site colours
$darkgrey:    #1A1A1A;
$lightgrey:   #f1f0eb;
$darkblue:    #364652;
$orange:      #BF4E30;
$turqoise:    #086375;



// Backups
$darkgrey:    #1A1A1A;
$lightgrey:   #f1f0eb;
$darkblue:    #364652;
$orange:      #BF4E30;
$turqoise:    #086375;


// Accents
$lightborder: #CAC8BB;
$green:       #728B0D;