// Primary site colours
$red:           #DC3522;
$blue:          #1D8DA3;
$darkblue:      #364652;
$beige:         #D9C09E;
$lightgrey:     #f1f0eb;
$greenishgrey:  #374140;
$darkgrey:      #1E1E20;
$green:         #04756C;
$yellow:        #dd8802;