@import 'colours';
@import 'sizes';

.card_with_border {
  position: relative;
  background: $lightgrey;
  border-bottom: 2px solid darken($lightgrey, 45%);
  border-radius: 0 0 2px 2px;
  min-height: 400px;


}