@import 'colours';
@import 'sizes';

.card_with_border {
  position: relative;
  background: $lightgrey;
  border-bottom: 1px solid rgba(0,0,0,0.8);
  border-right: 1px solid rgba(0,0,0,0.8);
  min-height: 400px;
  padding:$card_border;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: $card_border solid $lightborder;
  }

}