<div class="photo-test-bed-wrapper">
  
  <h2>Recent Photos</h2>

  <% @images.each do |i| %>
    <div class="image">
      <%= image_tag i.px_image, style: 'max-width: 250px;' %>
      <ul class="palette">
        <% i.sorted_colours.each do |p| %>
          <li class="palette-colour" style="background-color: #<%= p[:hex] %>">
            
          </li>  
        <% end %>    
      </ul>
    </div>
  <% end %>
</div>