@import 'variables';


// Font weights
.light {
  font-weight: 100;
}

.book {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.bold-black {
  font-weight: 900;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.fleft {
  float: left;
}

.fright {
  // Boo!
  float: right;
}

.smaller {
  font-size: 0.8em !important;
}

.bigger {
  font-size: 1.2em !important;
}

.children-fill-width {
  /* three items */
  &:first-child {
    width: 100%;
  }
  /* three items */
  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ & {
    width: 50%;
  }
  /* three items */
  &:first-child:nth-last-child(3),
  &:first-child:nth-last-child(3) ~ & {
    width: 33.3333%;
  }

  /* four items */
  &:first-child:nth-last-child(4),
  &:first-child:nth-last-child(4) ~ & {
    width: 25%;
  }

  /* five items */
  &:first-child:nth-last-child(5),
  &:first-child:nth-last-child(5) ~ & {
    width: 20%;
  }

  /* six items */
  &:first-child:nth-last-child(6),
  &:first-child:nth-last-child(6) ~ & {
    width: 16.6666%;
  }
}