@import 'variables';

.photos-wrapper {
  & > header {
    text-align: center;
    margin: 2rem 0;

    h1 {
      font-size: 4rem;
      font-weight: 900;
      color: $red;
    }

    p {
      font-size: 1.2rem;
      margin-top: 1rem;
      color: lighten($beige, 10%);
    }
  }
  [class*='column_'], .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    transition: $transition_length;
  }


  .width-wrapper {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: $starting_width;
  }


  .content-wrapper {
    margin-top: 4rem;
    @extend .width-wrapper;

    &.widemode {
      transition: $transition_length;
      max-width: $max-width;
    }

    .or {
      animation-delay: 1s;
      animation-duration: 0.5s !important;
      position: absolute;
      z-index: 2;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: 500;
      border-radius: 100%;
      background: $red;
      color: #FFF;
      top: 2.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;

    }

    .card {
      @extend .card_with_border; // From _components.scss
      padding: 5rem 1rem 1rem 1rem; // top is offset from the absolutely-positioned heading.
      
      h3 {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        height: 4rem;
        line-height: 4rem;
        background: $greenishgrey;
        font-size: 2rem;
        font-weight: 500;
        color: #FFF;
      }

    }

    .photo-upload {
      animation-delay: 0.25s;
      animation-duration: 0.5s !important;

      .photo_box {
        position: relative;
        width: 100%;
        height: 10rem;
        border: 2px dashed #CCC;
        background: rgba(0,0,0,0.05);
        text-align: center;
        cursor: pointer;
        background-size: cover;
        background-position: center;

        &:hover {
          background: rgba(0,0,0,0.1);
          border: 2px dashed #BBB;
          .upload-text i, .upload-text h4 { opacity: 1 }
        }

        &.dragover {
          background: $blue;
          border: 2px dashed darken($blue, 10%);
          color: #FFF;

          .upload-text i, .upload-text h4 { opacity: 1 }
        }

        &.with_image {
          border: 0px;
        }


        .upload-text {
          position: absolute;
          width: 100%;
          height: 4.5rem;
          top: 2rem;

          i {
            font-size: 3rem;
            opacity: 0.8;
          }

          h4 {
            font-size: 1.6rem;
            font-weight: 300;
            opacity: 0.6;
          }
        }

      }
    }

    .colour-select {
      animation-delay: 1.5s;
      animation-duration: 0.5s !important;
    }

    .palette {
      overflow: auto;
      
      li {
        width: 16.666666666%;
        height: 2rem;
        float: left;
      }
    }
  }
}