@import 'variables';

.width-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: $starting_width;
}

.photos-wrapper {
  padding: 0 1rem;

  [class*='column_'], .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    transition: $transition_length;
  }

  .white {
    color: #FFF;
  }
  .black {
    color: #000;
  }


  .content-wrapper {
    margin-top: 4rem;
    @extend .width-wrapper;

    &.widemode {
      transition: $transition_length;
      max-width: $max-width;
    }

    .or {
      animation-delay: 1s;
      animation-duration: 0.5s;
      animation-name: rotateIn;
      animation-fill-mode:forwards;
      position: absolute;
      z-index: 3;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: 500;
      border-radius: 100%;
      background: $red;
      color: #FFF;
      top: 0.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;

      &.ng-hide {
        animation-delay: 0.1s;
        animation-duration: 0.75s !important;  
        animation-name: fadeOutDrop;
        animation-fill-mode: both;
      }
    }

    #right-col {
      position: relative;
    }

    .card {
      @extend .card_with_border; // From _components.scss
      padding: 5rem 1rem 1rem 1rem; // top is offset from the absolutely-positioned heading.
      z-index: 2;

      
      &.fadeInUp {
        animation-duration: 0.5s !important;  
        animation-name: fadeInUp;    
        animation-fill-mode: both;  
      }

      &.ng-hide {
        animation-delay: 0s;
        animation-duration: 0.4s !important;  
        animation-name: fadeOutDown;
        animation-fill-mode: both;
      }
      
      &.fixed-from-top {
        position: fixed;
        top: 30px;
      }


      h3 {
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        height: 4rem;
        line-height: 4rem;
        background: $greenishgrey;
        font-size: 2rem;
        font-weight: 500;
        color: #FFF;
        overflow: hidden;
      

        .card-header {
          display: block;

          &.ng-hide-add.ng-hide-add-active {
            animation-delay: 0s;
            animation-duration: 0.5s !important;  
            animation-name: fadeOutUp;
            animation-fill-mode: both;
          }
          &.ng-hide-remove.ng-hide-remove-active {
            animation-delay: 0.5s;
            animation-duration: 0.5s !important;  
            animation-name: fadeInUp;
            animation-fill-mode: both;
          }
        }
      }
    }


    // First card - Upload a Photo
    .left-side-wrapper {
      &.fixed-from-top {
        position: fixed;
        top: 30px;
      }
    }
    .photo-upload {

      &.fadeInUp {
        animation-delay: 0.25s;
      }

      .photo_box {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 10rem;
        border: 2px dashed #CCC;
        background: rgba(0,0,0,0.05);
        text-align: center;
        cursor: pointer;
        background-size: cover;
        background-position: center;

        &.clickable-area {
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          top: 0;
        }

        &.without-image {

          &:hover {
            background-color: rgba(0,0,0,0.1);
            border: 2px dashed #BBB;
            .upload-text i, .upload-text h4 { opacity: 1 }
          }

          &.dragover {
            background: $blue;
            border: 2px dashed darken($blue, 10%);
            color: #FFF;

            .upload-text i, .upload-text h4 { opacity: 1 }
          }
        }

        &.with-image {
          border: 0px;
          cursor: default;

          .upload-text {
            display: none;
          }
        }

        .upload-text {
          position: absolute;
          width: 100%;
          height: 4.5rem;
          top: 2rem;

          i {
            font-size: 3rem;
            opacity: 0.8;
          }

          h4 {
            font-size: 1.6rem;
            font-weight: 300;
            opacity: 0.6;
          }
        }

      }      
      .palette {
        position: relative;
        z-index: 1;
        overflow: auto;
        background: rgba(0,0,0,0.06);

        &.ng-hide-remove.ng-hide-remove-active {
          animation-delay: 0;
          animation-duration: 0.5s !important;  
          animation-name: fadeInDown;
          animation-fill-mode: both;
        }

        li {
          height: 2rem;
          float: left;
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
    .active-palette {
      position: relative;
      top: 1rem;

      .active-palette-colour {
        padding: 0.75rem;
        text-align: center;

        
        h4 {
          font-size: 1.4rem;
          font-weight: 500;
        }
        h6 {
          font-weight: 100;
          font-size: 1rem;
          margin-top: 5px;
          opacity: 0.8;
        }
      }

      .active-palette-stats {
        position: relative;
        padding: 0.5rem;
        background: darken($greenishgrey, 7%);
        border-bottom: 2px solid rgba(0,0,0,0.6);
        border-radius: 0 0 2px 2px;
        text-align: center;

        p {
          color: #FFF;
          font-weight: 300;
          font-size: 0.9em;
        }
        .translucent {
          opacity: 0.5;
        }
      }
    }

    // Second card - Choose a Colour
    .colour-select {
      position: relative;
      z-index: 2;
      overflow: hidden;

      &.fadeInUp {
        animation-delay: 0.4s;
      }

      &.shortenedHeight-add {
        height: 290px;
      }

      &.shortenedHeight {
        height: 186px;
        transition: 0.55s;
      }

      .move-off-canvas {
        margin-top: -208px;
        transition: 0.55s;
      }



      .colour-selection {
        position: absolute;
        z-index: 1;
        bottom: -6.5rem;
        left: 1rem;
        right: 1rem;
        border-radius: 4px;
        text-align: right;
        padding: 1rem;
        height: 5.5rem;
        
        &.move-into-canvas {
          bottom: 1rem;
          transition: 0.55s;
        }



        h4 {
          position: absolute;
          right: 0.9rem;
          bottom: 2rem;
          font-size: 1.5rem;
          font-weight: 500;
        }
        h6 {
          position: absolute;
          right: 0.9rem;
          bottom: 0.75rem;
          font-size: 1rem;
          font-weight: 100;
          opacity: 0.85;
        }
      }

    }
    .submit-button-wrapper {
      position: relative;
      z-index: 1;
      padding-top: 1rem;
      height: 4rem;
      display: none;
      top: 0;

      &.hide-behind-card {
        top: -4rem;
        transition: 0.55s;
      }

      button {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3rem;
        font-size: 2rem;
        background: $green;
        color: #EAEAEA;
        border: 0;
        border-bottom: 3px solid darken($green, 12%);

        &:hover {
          color: #FFF;
          background: lighten($green, 2%);
        }

        &:active {
          height: 46px;
          background: darken($green, 2%) !important;
          border-bottom: 1px solid darken($green, 15%);
          transition: 0.2s;
        }

        .loading-icon {
          animation-duration: 1s;
          animation-name: rotateOut;
        }
      }
    }


    .photo-processing-loadscreen {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 0.5rem;
      font-size: 1.65rem;
      color: #FFF;

      &.ng-hide-remove {
        animation-duration: 1s !important;  
        animation-name: fadeInUp;
        animation-fill-mode: both;
      }

      &.ng-hide-add {
        animation-duration: 0.45s !important;  
        animation-name: fadeOutShrink;
        animation-fill-mode: both;
      }




      .processing-animation {
        position: relative;
        width: 60px;
        height: 60px;
      }

      h2 {
        margin: 1rem;
        text-align: center;
      }
    }    

    .results {
      position: relative;
      z-index: 3;

      .results-header {
        margin: 0 0 0.6rem 0.6rem; // Match the left-offset the tiles have.
        padding: 0 1.5rem;
        line-height: 4rem;
        height: 4rem;
        overflow: auto;
        color: #FFF;

        &.in-progress {
          animation-name: auburn-glow;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          
        }

        &.finished {
          background: $green;
        }

        .search-text {
          float: left;
          font-weight: 500;
          font-size: 1.4rem;
        }

        h5 {
          float: right;
          font-weight: 300;
          cursor: pointer;
          text-decoration: underline;
        }

        .ellipsis {
          animation-duration: 2s;
          animation-iteration-count: infinite;
          padding: 0 1px;

          &.num1 { animation-name: ellipsis-1; }
          &.num2 { animation-name: ellipsis-2; }
          &.num3 { animation-name: ellipsis-3; }
          &.num4 { animation-name: ellipsis-4; }
        }
      }

      li.result {
        float: left;
        width: 50%;

        position: relative;
        padding: 0 0 10px 10px;

        &.active-result {
          z-index: 3 !important;

          .palette {
            bottom: 0;
            transition: 0.25s;
          }
        }

        .result-thumb-wrapper {
          position: relative;
          z-index: 2;
          width: 100%;
          overflow: hidden;
        }
        .result-thumb-dummy {
          margin-top: 75%;
        }
        .result-thumb {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-position: center center;
          background-size: cover;

          .px-link {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .palette {
          position: absolute;
          width: 101%;
          left: 0;
          bottom: -2rem;

          &:hover {
            height: 100%;
          }

          ul {
            position: absolute;
            width: 100%;
            height: 1.4rem;
            z-index: 2;
            bottom: 0;

          }
        }
        .palette-colour {
          line-height: 1.4rem;
          height: 1.4rem;
          float: left;
        }


        .palette-colour-label {
          position: absolute;
          z-index: 1;
          text-align: center;
          width: 100%;
          height: 100%;
          padding-top: 25%;

          h4 {
            font-weight: 500;
            font-size: 1.2rem;
          }

          h6 {
            opacity: 0.8;
            font-weight: 100;
            font-size: 0.85rem;
            margin-top: 6px;
          }
        }
               
      }

      .result-info {
        position: absolute;
        z-index: 1;
        background: lighten($lightgrey, 20%);
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        width: 200%;
        top: -5px;  // Offset the uneven padding.
        box-shadow: 3px 3px 40px rgba(0,0,0,0.2);
        // outline: 5px solid rgba(255,255,255,0.9);

        &:before {
          content: " ";
          position: absolute;
          z-index: -1;
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -4px;
          border: 4px solid rgba(255,255,255,0.75);
        }

        &.ng-hide-remove {
          width: 100%;
        }
        &.ng-hide-remove.ng-hide-remove-active {
          width: 200%;
          transition: 0.25s;
        }

        h4 {
          font-weight: 500;
          font-size: 1.1rem;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

        }
        h6 {
          font-size: 0.85rem;
          font-weight: 300;
          text-align: center;

          a { 
            color: $blue; 
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .match-score {
          position: absolute;
          width: 40%;
          height: 3.7rem;
          top: 0;
          bottom: 0;
          margin: auto 0px;
          padding: 0.5rem;
          text-align: center;
          border-radius: 2px;

          h5 {
            font-weight: 500;
            font-size: 0.9rem;
          }

          h2 {
            font-weight: 900;
            font-size: 2rem;
            letter-spacing: -1px;
          }

          p {
            font-size: 0.85rem;
            font-weight: 300;
            color: $blue;
            cursor: pointer;
          }
        }

        .for-sale {
          position: absolute;
          width: 50%;
          bottom: 1.4rem;
          font-weight: 500;
          font-size: 0.85rem;
          text-align: center;

          i {
            font-size: 1.25rem;
          }
        }

        .attribution {
          position: absolute;
          width: 50%;
          bottom: 5px;
          color: #666;
          text-align: center;
          font-weight: 500;
          font-size: 0.8rem;
        }
      }       

      &.results-left .result-info {
        padding-left: 105%;
        padding-right: 5px;        
        left: 5px;

        &.ng-hide-remove {
          padding-left: 8px;
        }
        &.ng-hide-remove.ng-hide-remove-active {
          padding-left: 105%;
        }
        .match-score {
          right: 5%;          
        }
        .for-sale {
          right: 0;
        }
        .attribution {
          right: 0;
        }

      }
      &.results-right .result-info {
        padding-left: 5px;
        padding-right: 105%;        
        right: -5px;

        &.ng-hide-remove {
          padding-right: 8px;
        }
        &.ng-hide-remove.ng-hide-remove-active {
          padding-right: 105%;
        }
        .match-score {
          left: 5%;          
        }
        .for-sale {
          left: 0;
        }
        .attribution {
          left: 0;
        }

      }
    }

  }
  .suggested-photos {
    position: relative;
    top: 2rem;
    margin-bottom: 4rem;
    animation-delay: 1s;
    animation-duration: 2s !important;  
    animation-name: fadeInUp;
    animation-fill-mode: both;

    &.ng-hide {
      animation-delay: 0s;
      animation-duration: 1s !important;  
      animation-name: fadeOutDown;
      animation-fill-mode: forwards;
    }

    h4 {
      text-align: center;
      font-size: 0.9em;
      padding: 1rem;
      color: #FFF;

      strong {
        font-weight: 500;
        color: $beige;
      }
    }

    .suggested-cell-wrapper {
      position: relative;
      overflow: hidden;
    

      .suggested-cell {
        position: relative;
        width: 100%;
        height: 7rem;
        background-size: cover;
        background-position: center center;
        border-radius: 5px;
        cursor: pointer;      
        overflow: hidden;    
      }
      .suggested-cell-palette {
        position: absolute;
        width: 101%;
        left: 0;
        bottom: -0.8rem;
        border-radius: 0 0 5px 5px;
        transition: 0.5s;

        &.active {
          bottom: 0;
          transition: 0.5s;
        }

        li {
          border-top: 1px solid rgba(0,0,0,0.2);
          height: 1.2rem;
          float: left;
        }
      }
    }  
  }

}


@media screen and (min-width: 1024px) {
  .photos-wrapper {
    .content-wrapper {
      .results {
        li.result {
          width: 33.3333%;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .photos-wrapper {
    .content-wrapper {
      .results {
        li.result {
          width: 25%;
        }
      }
    }
  }
}

// @media screen and (min-width: 1600px) {
//   .photos-wrapper {
//     .content-wrapper {
//       .results {
//         li.result {
//           width: 20%;
//         }
//       }
//     }
//   }
// }