@import 'variables';

.photos-wrapper {
  & > header {
    text-align: center;
    margin: 2rem 0;

    h1 {
      font-size: 4rem;
      font-weight: 900;
      color: $red;
    }

    p {
      font-size: 1.2rem;
      margin-top: 1rem;
      color: lighten($beige, 10%);
    }
  }
  [class*='column_'], .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    transition: $transition_length;
  }

  .white {
    color: #FFF;
  }
  .black {
    color: #000;
  }

  .width-wrapper {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: $starting_width;
  }


  .content-wrapper {
    margin-top: 4rem;
    @extend .width-wrapper;

    &.widemode {
      transition: $transition_length;
      max-width: $max-width;
    }

    .or {
      animation-delay: 1s;
      animation-duration: 0.5s;
      animation-name: rotateIn;
      animation-fill-mode:forwards;
      position: absolute;
      z-index: 2;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: 500;
      border-radius: 100%;
      background: $red;
      color: #FFF;
      top: 0.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;

      &.ng-hide {
        animation-delay: 0.1s;
        animation-duration: 0.75s !important;  
        animation-name: fadeOutDrop;
        animation-fill-mode: both;
      }
    }

    .card {
      @extend .card_with_border; // From _components.scss
      padding: 5rem 1rem 1rem 1rem; // top is offset from the absolutely-positioned heading.
      z-index: 2;

      
      &.fadeInUp {
        animation-duration: 0.5s !important;  
        animation-name: fadeInUp;    
        animation-fill-mode: both;  
      }

      &.ng-hide {
        animation-delay: 0s;
        animation-duration: 0.4s !important;  
        animation-name: fadeOutDown;
        animation-fill-mode: both;
      }



      h3 {
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        height: 4rem;
        line-height: 4rem;
        background: $greenishgrey;
        font-size: 2rem;
        font-weight: 500;
        color: #FFF;
        overflow: hidden;
      

        .card-header {
          display: block;

          &.ng-hide-add.ng-hide-add-active {
            animation-delay: 0s;
            animation-duration: 0.5s !important;  
            animation-name: fadeOutUp;
            animation-fill-mode: both;
          }
          &.ng-hide-remove.ng-hide-remove-active {
            animation-delay: 0.5s;
            animation-duration: 0.5s !important;  
            animation-name: fadeInUp;
            animation-fill-mode: both;
          }
        }
      }
    }


    // First card - Upload a Photo
    .photo-upload {

      &.fadeInUp {
        animation-delay: 0.25s;
      }

      .photo_box {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 10rem;
        border: 2px dashed #CCC;
        background: rgba(0,0,0,0.05);
        text-align: center;
        cursor: pointer;
        background-size: cover;
        background-position: center;

        &.clickable-area {
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          top: 0;
        }

        &.without-image {

          &:hover {
            background-color: rgba(0,0,0,0.1);
            border: 2px dashed #BBB;
            .upload-text i, .upload-text h4 { opacity: 1 }
          }

          &.dragover {
            background: $blue;
            border: 2px dashed darken($blue, 10%);
            color: #FFF;

            .upload-text i, .upload-text h4 { opacity: 1 }
          }
        }

        &.with-image {
          border: 0px;
          cursor: default;

          .upload-text {
            display: none;
          }
        }

        .upload-text {
          position: absolute;
          width: 100%;
          height: 4.5rem;
          top: 2rem;

          i {
            font-size: 3rem;
            opacity: 0.8;
          }

          h4 {
            font-size: 1.6rem;
            font-weight: 300;
            opacity: 0.6;
          }
        }

      }      
      .palette {
        position: relative;
        z-index: 1;
        overflow: auto;
        background: rgba(0,0,0,0.06);

        &.ng-hide-remove.ng-hide-remove-active {
          animation-delay: 0;
          animation-duration: 0.5s !important;  
          animation-name: fadeInDown;
          animation-fill-mode: both;
        }

        li {
          width: 16.666666666%;
          height: 2rem;
          float: left;
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
    .active-palette-colour {
      position: relative;
      top: 1rem;
      padding: 0.75rem;
      text-align: center;
      margin-bottom: 4rem;
      border-bottom: 2px solid rgba(0,0,0,0.6);
      border-radius: 0 0 2px 2px;

      
      h4 {
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 0.25rem;
      }
      h6 {
        font-weight: 500;
        opacity: 0.8;
      }
    }



    // Second card - Choose a Colour
    .colour-select {
      position: relative;
      z-index: 2;
      overflow: hidden;

      &.fadeInUp {
        animation-delay: 0.4s;
      }

      &.shortenedHeight-add {
        height: 290px;
      }

      &.shortenedHeight {
        height: 186px;
        transition: 0.55s;
      }

      .move-off-canvas {
        margin-top: -208px;
        transition: 0.55s;
      }



      .colour-selection {
        position: absolute;
        z-index: 1;
        bottom: -6.5rem;
        left: 1rem;
        right: 1rem;
        border-radius: 4px;
        text-align: right;
        padding: 1rem;
        height: 5.5rem;
        
        &.move-into-canvas {
          bottom: 1rem;
          transition: 0.55s;
        }



        h4 {
          position: absolute;
          right: 0.9rem;
          bottom: 2rem;
          font-size: 1.5rem;
          font-weight: 500;
        }
        h6 {
          position: absolute;
          right: 0.9rem;
          bottom: 0.75rem;
          font-size: 1rem;
          font-weight: 100;
          opacity: 0.85;
        }
      }

    }
    .submit-button-wrapper {
      position: relative;
      z-index: 1;
      padding-top: 1rem;
      height: 4rem;
      display: none;
      top: 0;

      &.hide-behind-card {
        top: -4rem;
        transition: 0.55s;
      }

      button {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3rem;
        font-size: 2rem;
        background: $green;
        color: #EAEAEA;
        border: 0;
        border-bottom: 3px solid darken($green, 12%);

        &:hover {
          color: #FFF;
          background: lighten($green, 2%);
        }

        &:active {
          height: 46px;
          background: darken($green, 2%) !important;
          border-bottom: 1px solid darken($green, 15%);
          transition: 0.2s;
        }

        .loading-icon {
          animation-duration: 1s;
          animation-name: rotateOut;
        }
      }
    }

    .results {
      position: relative;
      z-index: 3;
      background: rgba(255,255,255,0.1);

      li.result {
        float: left;
        width: 50%;

        position: relative;
        background: rgba(0,0,0,0.15);
        padding: 5px;

        &.active-result {
          z-index: 3 !important;

          .palette {
            bottom: 0;
            transition: 0.25s;
          }
        }

        .result-thumb-wrapper {
          display: inline-block;
          position: relative;
          z-index: 2;
          width: 100%;
          overflow: hidden;
        }
        .result-thumb-dummy {
          margin-top: 75%;
        }
        .result-thumb {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-position: center center;
          background-size: cover;
        }
        .palette {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -2rem;
        }
        .palette-colour {
          width: 16.666666666%;
          height: 1.4rem;
          float: left;
          border-top: 1px solid rgba(0,0,0,0.1);
        }
               
      }

      .result-info {
        position: absolute;
        z-index: 1;
        background: #FFF;
        padding-left: 100%;
        width: 250%;
        height: 100%;
        top: 0;
      }       

      &.results-left .result-info {
        left: 0;
      }
      &.results-right .result-info {
        right: 0;
      }
    }

  }
}

@media screen and (min-width: 420px) {
  .photos-wrapper {
    .content-wrapper {
      .results {
        li.result {
          width: 33.3333%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .photos-wrapper {
    .content-wrapper {
      .results {
        li.result {
          width: 25%;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .photos-wrapper {
    .content-wrapper {
      .results {
        li.result {
          width: 20%;
        }
      }
    }
  }
}