@import 'colors';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Whitney';
  font-weight: 300;
}

body {
  border: 1rem solid darken($darkgrey, 2%);
  background: $darkgrey;
}