@import 'variables';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  border:       1rem solid darken($darkgrey, 2%);
  background:   $darkgrey;
  font-family:  'Whitney';
  font-weight:  300;
  color:        #FFF;  

  & > header {
    text-align: center;
    margin: 2rem 0;

    h1 {
      font-size: 3rem;
      font-weight: 900;
      color: $orange;
    }

    p {
      font-size: 1.2rem;
      margin-top: 1rem;
      color: $lightgrey;
    }
  }
}