@import 'variables';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

html { height: 100%; }
body { min-height: 100%; }

body {
  border:       1rem solid darken($darkgrey, 4%);
  background:   $darkgrey;
  font-family:  'Whitney';
  font-weight:  300;

}