<div class="info-wrapper">
  <header>
    <div class="width-wrapper">
      <h1 id="info-header-bottom">ColourMatch</h1>
      <%= image_tag 'droplet.png', class: "droplet" %>
    </div>
  </header>

  <div class="width-wrapper">
    <h4>What Is It?</h4>
    <p>ColourMatch is a tool that lets you search 500px's photo repository by colour - either by selecting a specific colour, or by matching with the colours in an uploaded photo.</p>
    <p>Right now, it's just a proof of concept. I'm only using a small sub-section of 500px's library, and the algorithms used aren't as efficient as they need to be. The ideal use case is for web designers who need beautiful stock photography that matches the colour palette they're designing with.</p>
    <h4></h4>
  </div>
</div>