<footer class="dash-footer">
  <div class="width-wrapper">
    <div class="fleft">
      An experiment by <a href="https://github.com/joshwcomeau" class="dynamic-underline" target="_blank" ng-style="{'color': glob.manager.colour, 'border-color': glob.manager.colour}">Joshua Comeau</a>. All rights, wrongs, and grey areas reserved. Unaffiliated with 500px. 
    </div>
    <div class="fright">
      <% if current_path != "privacy" %>
        <%= link_to "Privacy", privacy_path, class: "dynamic-underline" %>
      <% end %>
    </div>
  </div>

</footer>
