<header class="main-header">
  <div class="header-text">
    <h1><%= link_to "ColourMatch", root_path %></h1>
    <h4><%= subheader %></h4>
    <h6><sup>NEW</sup> Curious how this was made? <a href="https://medium.com/@joshuawcomeau/search-by-colour-cb1ba49aa9aa" target="_blank">Read the blog post.</a></h6>
  </div>
</header>